---
layout: default.hbs
subject: Simple Transactional Email
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<table class="main">
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td class="align-center">
                        <img src='http://cdn.hs.hs-dev-design.com/logo.png' alt='HS - Develop & Design' height='100' />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1 class="align-center">Simple demo.</h1>
                        <p>Hi [name],</p>
                        <p>Simple email template for use. Adopted from @leemunroe templates.</p>
                        <table class="btn btn-primary">
                <tr>
                <td>
                    <a href="#">Sample button</a>
                </td>
              </tr>
            </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div class="footer">
    <table>
        <tr>
            <td class="align-center">
                <p><a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>.</p>
            </td>
        </tr>
    </table>
</div>
